node_modules/node_modules/.env

.env

*.log.envnode_modules/

.DS_Store

.vscode/*.log

*.zip.DS_Store

.env.local.vscode/

.env.development.local*.zip

.env.test.local.env.local

.env.production.local.env.development.local
.env.test.local
.env.production.local